<div class="products">
    <div class="product" *ngFor="let item of products">
        <mat-card>
            <p>  {{item.title}}  </p>
            <p><strong> {{item.price}}€ </strong></p>
            <button mat-raised-button
                    matTooltip={{item.description}}
                    aria-label="Button that displays a tooltip when focused or hovered over"
                    class="btn btn-link">
                    Beschreibung
            </button>
            <img src="{{item.image}}" class="product_image">
            <p>Kategorie: {{item.category}} </p>
            <button (click)="addToCart(item)" class="cartButton">Warenkorb</button>
        </mat-card>
    </div>
</div>
